:root {
  --main-font-family: "Mukta Mahee", sans-serif;
  --secondary-font-family: "Cormorant Garamond", serif;
}

body {
  font-family: var(--main-font-family);
  min-height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  height: 50px;
  padding-top: 10px;
}

h1 {
  font-weight: 700;
  line-height: 2.3rem;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: var(--secondary-font-family);
  font-style: italic;
}

h3 {
  font-size: 80px;
  font-weight: 900;
}

.words-logo {
  margin-top: 130px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.dropdown-toggle::after {
  display: none;
  outline: none !important;
}

.menu-symbol {
  width: 40px;
  outline: none;
  background-color: red;
}

.about-word {
  margin-top: 200px;
}

.contact-word {
  margin-top: 400px;
}

.image {
  position: relative;
  width: 100%;
}

.image__img {
  display: block;
  width: 100%;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
}

.image__overlay:hover {
  opacity: 1;
}

.image__title {
  font-size: 50px;
}

.first-row {
  margin-top: 100px;
}

.last-row {
  margin-bottom: 100px;
}

.project-word {
  font-size: 50px;
  margin-top: 100px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.col-grid {
  flex: 5%;
  max-width: 25%;
  padding: 0px 10px;
}

.col-grid img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

.next-prev-bottom {
  margin-bottom: 150px;
}

.next-prev-layout {
  opacity: 0.15;
}

img {
  border: none;
}

@media (max-width: 768px) {
  h3 {
    font-size: 50px;
    text-align: left;
  }

  p {
    text-align: left;
  }

  footer {
    height: 100px;
    padding-top: 10px;
  }

  .big-logo {
    margin-top: 80px;
    width: 300px;
  }

  .words-logo {
    display: none;
  }

  .photography-text {
    display: none;
  }

  .about-word {
    margin-top: 180px;
  }

  .contact-word {
    margin-top: 180px;
  }

  .image__title {
    font-size: 50px;
  }

  .first-row {
    margin-top: 50px;
  }

  .last-row {
    margin-bottom: 200px;
  }

  .col-grid {
    flex: 100%;
    max-width: 100%;
  }

  .container-grid {
    margin-bottom: 150px;
  }

  .next-prev-layout {
    padding: 50px 10px 0px 10px;
  }
}

@media (min-width: 768px) {
  .big-logo {
    width: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .photography-text {
    margin-right: 350px;
  }

  .container-grid {
    padding: 0px 50px 0px 50px;
  }

  .next-prev-layout {
    padding: 50px 60px 0px 60px;
  }

  footer {
    height: 50px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .big-logo {
    width: 300px;
    margin-top: 80px;
  }
  .photography-text {
    margin-right: 350px;
  }

  .container-grid {
    padding: 0px 200px 0px 200px;
  }

  .next-prev-layout {
    padding: 50px 210px 0px 210px;
    opacity: 0.2;
  }
}
